.container {
  height: 36px;
  display: flex;
  align-items: center;
  position: relative;
  overflow:hidden;
  padding: 5px 10px;
}

.input {
  width: 100%;
  caret-color: #777;
  font-size: 13px;
  height: 100%;
  padding: 0 15px;
  border: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 5px rgba(0,0,0,0.18), 0 1px 4px rgba(0,0,0,0.28);
  transition: all 0.1s linear;
}

.input:hover {
  box-shadow: 0 1px 6px rgba(0,0,0,0.22), 0 1px 5px rgba(0,0,0,0.38);
  cursor: pointer;
}

.input:focus {
  outline: none;
  box-shadow: 0 1px 6px rgba(0,0,0,0.22), 0 1px 5px rgba(0,0,0,0.38);
  cursor: text;
}

.input::placeholder {
  color: rgba(0,0,0,0);
}
.input:hover::placeholder {
  color: #999;
}

.button {
  fill: var(--primary-color);
  cursor: pointer;
  position: absolute;
  right: 16px;
}

@media (min-width: 769px){
  .container {
    height: 50px;
    padding: 10px;
  }
  .input {
    font-size: 18px;
  }
}
@media (min-width: 1025px){
  .container {
    height: 35px;
  }
  .input{
    font-size: 15px;
  }
}
@media (min-width: 1440px){
  .container {
    height: 4.5%;
  }
}
