.enter {
  transform: translateX(200%);
}

.enterActive {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transform: translateX(200%);
  transition: transform 300ms ease-in;
}

.toastList {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 328px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 30000;
}
