.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: rgba(50,50,50,0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content {
  padding: 10px;
}


@media (min-width: 680px){
  .content {
    padding: 50px;
  }
}
