.user {
  background-color: #3f8da7;
}

.name {
  margin-left: 20px;
}

.score {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;
  font-size: 15px;
}

@media (min-width: 1025px){
  .score {
    font-size: 18px;
  }
}
